# Assignment 6 Pandas

In [67]:
# initialization
import pandas as pd
import numpy as np

## Part 1. FIFA World Cup Team Data Analysis

- Data file `Teams.csv` is downloadable from a previous assignment on Blackboard. After downloading the file to the folder that this notebook file is in, make sure that the filename is correct. You may have to manually change the extension from `.txt` to `.csv`.
- The file includes world ranking, games played in the tournament, and game statistics for each team in the 2010 World Cup. The data set includes all except the final game.
- Write one line of Python code with pandas to answer each question. Do not import the numpy package.

### Load Data

- `Teams` is a DataFrame to store the teams data.

In [68]:
Teams = pd.read_csv('Teams.csv')

In [69]:
Teams[:]

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0
4,Italy,5,3,0,2,1,4,5,5,0
5,Germany,6,6,4,0,2,13,3,8,1
6,Argentina,7,5,4,0,1,10,6,7,0
7,England,8,4,1,2,1,3,5,6,0
8,France,9,3,0,1,2,1,4,6,1
9,Greece,13,3,1,0,2,2,5,5,0
10,USA,14,4,1,2,1,5,5,9,0
11,Serbia,15,3,1,0,2,2,3,8,1
12,Uruguay,16,6,3,2,1,9,5,8,2
13,Mexico,17,4,1,1,2,4,5,9,0
14,Chile,18,4,2,0,2,3,5,13,1
15,Cameroon,19,3,0,0,3,2,5,5,0
16,Australia,20,3,1,1,1,3,6,7,2
17,Nigeria,21,3,0,1,2,3,5,5,1
18,Switzerland,24,3,1,1,1,1,1,8,1
19,Slovenia,25,3,1,1,1,3,3,9,0
20,Ivory Coast,27,3,1,1,1,4,3,5,0
21,Algeria,30,3,0,1,2,0,2,4,2
22,Paraguay,31,5,1,3,1,3,2,9,0
23,Ghana,32,5,2,2,1,5,4,11,0
24,Slovakia,34,4,1,1,2,5,7,11,0
25,Denmark,36,3,1,0,2,3,6,6,0
26,Honduras,38,3,0,1,2,0,3,7,0
27,Japan,45,4,2,1,1,4,2,7,0
28,South Korea,47,4,1,1,2,6,8,6,0
29,New Zealand,78,3,0,3,0,2,2,6,0
30,South Africa,83,3,1,1,1,3,5,4,1
31,North Korea,105,3,0,0,3,1,12,2,0

### Interacting with Data

Question 1.1 Output the first four rows of the `Teams` DataFrame.

In [70]:
pass
Teams.head(4)

,team,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
0,Brazil,1,5,3,1,1,9,4,7,2
1,Spain,2,6,5,0,1,7,2,3,0
2,Portugal,3,4,1,2,1,7,1,8,1
3,Netherlands,4,6,6,0,0,12,5,15,0

Question 1.2 Set the DataFrame index using the column `team`. Modify the `Teams` DataFrame in place.

In [71]:
pass
Teams.set_index("team",inplace=True)
Teams.head()

,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
team,,,,,,,,,
Brazil,1,5,3,1,1,9,4,7,2
Spain,2,6,5,0,1,7,2,3,0
Portugal,3,4,1,2,1,7,1,8,1
Netherlands,4,6,6,0,0,12,5,15,0
Italy,5,3,0,2,1,4,5,5,0

Question 1.3 Output the last six rows of the `Teams` DataFrame.

In [72]:
pass
Teams.tail(6)

,ranking,games,wins,draws,losses,goalsFor,goalsAgainst,yellowCards,redCards
team,,,,,,,,,
Honduras,38,3,0,1,2,0,3,7,0
Japan,45,4,2,1,1,4,2,7,0
South Korea,47,4,1,1,2,6,8,6,0
New Zealand,78,3,0,3,0,2,2,6,0
South Africa,83,3,1,1,1,3,5,4,1
North Korea,105,3,0,0,3,1,12,2,0

Question 1.4 Output the label of the DataFrame's second column.

In [73]:
pass
Teams.columns[1]

'games'

Question 1.5 Select Team France's `wins`, `draws` and `losses` data.

In [74]:
pass
Teams.loc["France",["wins", "draws", "losses"]]

wins      0
draws     1
losses    2
Name: France, dtype: int64

Question 1.6 Select the first five teams' `goalsFor` data.

In [75]:
pass
Teams["goalsFor"].head(5)

team
Brazil          9
Spain           7
Portugal        7
Netherlands    12
Italy           4
Name: goalsFor, dtype: int64

### Analyze Data

Question 1.7 How many teams didn't score any goal in the tournament?

In [76]:
pass
Teams[Teams["goalsFor"]== 0].index

Index(['Algeria', 'Honduras'], dtype='object', name='team')

Question 1.8 Which team had the highest ratio of `goalsFor` to `goalsAgainst`? (Hint: use `.idxmax()` to get the label of the maximum.)

In [77]:
pass
(Teams["goalsFor"] / Teams["goalsAgainst"]).idxmax()

'Portugal'

Question 1.9 Develop a frequency distribution of the variable `games`. Then sort the obtained Series in increasing order of the data label.

In [78]:
pass
Teams["games"].value_counts().sort_index()

3    16
4     8
5     4
6     4
Name: games, dtype: int64

Question 1.10 On average, how many goals were scored per game? (Hint: avoid double counting when calculating the total number of games played.)

In [79]:
pass
Teams["goalsFor"].sum() / (Teams["games"].sum() / 2)

2.2419354838709675

Question 1.11 Calculate the correlation coefficient between the variable `games` and the variable `yellowCards`.

In [80]:
pass
Teams["games"].corr(Teams["yellowCards"])

0.4217908287624643

Question 1.12 Among the teams that played only 3 games, which one got the highest number of yellow cards?

In [81]:
pass
Teams[Teams["games"]== 3]["yellowCards"].idxmax()

'Slovenia'

## Part 2. Illicit Drug Use

-  We will analyze an illicit drug use data set. 
-  Data file `Drugs.csv` is downloadable from Blackboard. After downloading the file to the folder that this notebook file is in, make sure that the filename is correct. You may have to manually change the extension from `.txt` to `.csv`.
-  Every observation contains information about a substance use reported by a county in a year. Note: county names may be duplicated, but state name plus county name is unique. 
-  For Questions 2.1 to 2.4, write one line of Python code with pandas to 
answer each question. 
-  Do not import the numpy package.

### Load Data

-  `df` is a DataFrame to store the illicit drug use report data.

In [82]:
# load the data set
df = pd.read_csv('Drugs.csv')

In [83]:
df[:]

       YYYY State           COUNTY  SubstanceName  DrugReports
0      2010    VA         ACCOMACK   Propoxyphene            1
1      2010    OH            ADAMS       Morphine            9
2      2010    PA            ADAMS      Methadone            2
3      2010    VA  ALEXANDRIA CITY         Heroin            5
4      2010    PA        ALLEGHENY  Hydromorphone            5
...     ...   ...              ...            ...          ...
24057  2017    VA            WYTHE        Codeine            1
24058  2017    VA            WYTHE    Hydrocodone           19
24059  2017    VA            WYTHE       Tramadol            5
24060  2017    PA             YORK           ANPP            1
24061  2017    VA             YORK         Heroin           48

[24062 rows x 5 columns]

### Interacting with Data

Question 2.1 Replace the column labels `YYYY` and `COUNTY`, respectively, with `Year` and `County`. Modify the DataFrame in place.

In [84]:
pass
df = df.rename(columns = {"YYYY":"Year", "COUNTY" : "County"})
df

       Year State           County  SubstanceName  DrugReports
0      2010    VA         ACCOMACK   Propoxyphene            1
1      2010    OH            ADAMS       Morphine            9
2      2010    PA            ADAMS      Methadone            2
3      2010    VA  ALEXANDRIA CITY         Heroin            5
4      2010    PA        ALLEGHENY  Hydromorphone            5
...     ...   ...              ...            ...          ...
24057  2017    VA            WYTHE        Codeine            1
24058  2017    VA            WYTHE    Hydrocodone           19
24059  2017    VA            WYTHE       Tramadol            5
24060  2017    PA             YORK           ANPP            1
24061  2017    VA             YORK         Heroin           48

[24062 rows x 5 columns]

Question 2.2 Output the data type of the columns `Year` and `County`.

In [85]:
pass
df.dtypes[['Year','County']]

Year       int64
County    object
dtype: object

### Analyze Data

Question 2.3 Output the distinct states in the DataFrame.

In [86]:
pass
df["State"].unique()

array(['VA', 'OH', 'PA', 'KY', 'WV'], dtype=object)

Question 2.4. How many reports in total were submitted by the BARREN county each year during the 8-year period from 2010 through 2017? (Hint: use `.groupby()`).

In [101]:
pass
x = df.groupby(["County"])["DrugReports"].sum()['BARREN']
x

483

Question 2.5. Which state submitted the highest number of reports each year during the 8-year period from 2010 through 2017? (Hint: develop a `for Loop` to iterate over the years; pass 'State' to `.groupby()`; and use `.idxmax()` to get the label of the maximum.)

In [113]:
pass 
for i in df["Year"].unique():
    a = df[df['Year'] == i].groupby(["State"])["DrugReports"].sum().idxmax()
    print(a)

PA
OH
OH
OH
OH
OH
OH
OH

In [104]:
df["Year"].unique()

array([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017])

Question 2.6 Which substance received the highest total number of reports over the 8-year period from 2010 through 2017?

In [115]:
pass
x = df.groupby(["SubstanceName"])["DrugReports"].sum().idxmax()
x

'Heroin'

Question 2.7 By which state did the number of reports of Heroin use submitted increase at the highest rate (percentage) from 2014 to 2015? (Hint: compute the total number of reports submitted by each state in year 2014 and year 2015 separately, then compute the increase rate.)

In [139]:
pass
y1 = df[(df['Year'] == 2014)&(df["SubstanceName"]== "Heroin")].groupby(["State"])["DrugReports"].sum()
y1
y2= df[(df['Year'] == 2015)&(df["SubstanceName"]== "Heroin")].groupby(["State"])["DrugReports"].sum()
y2
(y1/y2).idxmax()

'WV'

Question 2.8 The total number of reports of which substance increased at the highest rate (percentage) from 2014 to 2015?

In [146]:
pass
x1 = df[df['Year'] == 2014].groupby(["SubstanceName"])["DrugReports"].sum()
x1        
x2 = df[df['Year'] == 2015].groupby(["SubstanceName"])["DrugReports"].sum()
x2
(x1/x2).idxmax()

'Pentazocine'